@import '~antd/es/style/themes/default.less';

.BusinessLineContainer {
    // position: absolute;
    // bottom: 0px;
    width           : 100%;
    height          : 80px;
    text-align      : center;
    background-color: #E9E9E9;

    // 每一个类型
    .ImgContainer {
        display     : inline-block;
        margin-top  : 10px;
        margin-right: 20px;

        img {
            width        : 60px;
            height       : 60px;
            padding      : 5px;
            border-radius: 15px;
            cursor       : pointer;
        }

        ;
    }

    .ImgContainer:hover {
        transform: scale(1.15);
    }
}