@import '~antd/es/style/themes/default.less';

.searchBtn{width: 50px;height: 50px;border-radius: 25px;position: absolute;bottom: 20px;right: 20px;}

.searchArea{
    width: 100%;
    border: 1px dashed #F3F3F3;
    padding: 10px;
    margin-bottom: 10px;
    .searchAreaLable{
        border-bottom: 1px solid #F3F3F3;
        padding-bottom: 10px;
        .searchAreaTitle{
            font-weight: bold;
            color: red;
        }
    }
    .searchAreaContent{
        padding-top: 10px;
    }
}

.searchResultCard{
    border: none !important;
    margin-bottom: 12px !important;
}